---
import { Aside } from "@astrojs/starlight/components";
---

<Aside type="note" title="Automatic generation is optional">
  The "paste a website URL and generate a feed" workflow is not enabled by default. If you want it, continue
  with <a href="/web-application/how-to/use-automatic-feed-generation/">Use automatic feed generation</a>.
</Aside>
