---
import { Aside } from "@astrojs/starlight/components";
---

<Aside type="note" title="Automatic generation may be disabled">
  The direct `Create a feed` workflow is not enabled on every deployment. If you want that path, continue with
  <a href="/web-application/how-to/use-automatic-feed-generation/">Use automatic feed generation</a>.
</Aside>
