---
layout: default
title: Ready-to-use configs
noindex: true
# nav_order: 1
---

<noscript>
  <span class="noscript">
    This site needs JavaScript to link to the feed URL!
  </span>
</noscript>

<div id="configs">
  <fieldset class="mb-4 py-1 px-2">
    <legend class="fs-5">Instance URL</legend>

    <input type="text" name="instance" value="https://1.h2r.workers.dev" class="bg-grey-dk-100 p-2">
  </fieldset>

  <p class="fs-4">
    Find publicly available instances in the
    <a href="https://github.com/html2rss/html2rss-web/wiki/Instances"
       target="_blank"
       >wiki</a>
    or
    <a href="https://github.com/html2rss/html2rss-web"
       target="_blank"
       >host your own</a>.
  </p>

  {% for config in site.data.configs %}
  <details class="py-1 px-2">
    <summary class="config__headline text-mono">
      <span>{{ config.domain }}</span
      ><span class="text-yellow-300">/</span
      ><span>{{ config.name }}</span>

       {%- if config.valid_channel_url -%}
      <a href="#"
        data-bind-click="show"
        data-path="{{ config.domain }}/{{ config.name }}.rss"
        class="float-right"
        rel="noopener noreferrer"
        > RSS</a>
        {% endif %}
    </summary>

    <dl>
      {%- if config.channel.url -%}
      <dt>URL to scrape</dt>
      <dd>
        {%- if config.valid_channel_url -%}
        <a href="{{ config.channel.url }}"
           class="config__url"
           target="_blank"
           rel="noopener noreferrer"
           >{{ config.channel.url }}</a>
        {%- else -%}
          <span class="config__url">{{ config.channel.url | xml_escape }}</span>
        {%- endif -%}
      </dd>
      {%- endif -%}

      {%- if config.channel.time_zone -%}
      <dt>Time zone</dt>
      <dd>{{ config.channel.time_zone }}</dd>
      {%- endif -%}

      {%- if config.channel.language -%}
      <dt>Language</dt>
      <dd>{{ config.channel.language }}</dd>
      {%- endif -%}
    </dl>

    {%- if config.valid_channel_url -%}
    <div>
      <a href="#"
        data-bind-click="show"
        data-path="{{ config.domain }}/{{ config.name }}.rss"
        class="btn btn-primary fs-3 mb-4 mr-2 v-align-middle"
        rel="noopener noreferrer"
        >Show RSS</a>

      <button
        data-bind-click="copy"
        data-path="{{ config.domain }}/{{ config.name }}.rss"
        class="btn fs-3 mb-4 mr-2 v-align-middle"
        rel="noopener noreferrer"
        >Copy URL</button>

      <a href="https://github.com/html2rss/html2rss-configs/blob/master/lib/html2rss/configs/{{ config.domain }}/{{ config.name }}.yml"
        class="btn fs-3 mb-4 v-align-middle">
        View on Github
      </a>
    </div>
    {%- else -%}
      <p class="bg-grey-dk-200 text-red-300 p-2">
        This config requires parameters to work.<br>
        <a href="https://github.com/html2rss/html2rss-configs/blob/master/lib/html2rss/configs/{{ config.domain }}/{{ config.name }}.yml">View the config</a>
        to find out which values are possible.
        <br>
        <code class="d-block w-100 py-2 bg-grey-dk-300 text-grey-dk-000 fs-4">
          <span class="config__url"
          ><span class="instance"></span>{{ config.domain }}/{{ config.name }}.rss?{% for params in config.url_parameters %}{{ params[0] }}=<em>{{ params[1] }}</em><span class="config__url-amp">&</span>{% endfor %}
          </span>
        </code>
      </p>
    {%- endif -%}
  </details>
{% endfor %}
</div>

<script src="/assets/js/configs/index.js" async defer></script>
