<meta name="mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="referrer" content="no-referrer" />
<meta
  name="description"
  content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"
/>
<meta
  name="robots"
  content="{% if page.noindex %}noindex, noarchive, follow{% else %}index, follow{% endif %}"
/>

<meta
  property="og:url"
  content="{{ page.url | replace:'index.html','' | absolute_url }}"
/>
<meta
  property="og:title"
  content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"
/>
<meta
  property="og:description"
  content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"
/>
<meta property="og:site_name" content="{{ site.title }}" />
<meta
  property="og:image"
  content="{{ '/assets/images/logo.png' | absolute_url }}"
/>
<meta property="og:type" content="website" />

<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="/assets/images/apple-touch-icon.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="/assets/images/favicon-32x32.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="/assets/images/favicon-16x16.png"
/>
<link rel="manifest" href="/assets/images/site.webmanifest" />
<link
  rel="mask-icon"
  href="/assets/images/safari-pinned-tab.svg"
  color="#111111"
/>
<link rel="shortcut icon" href="/assets/images/favicon.ico" />
<meta name="msapplication-TileColor" content="#111111" />
<meta name="msapplication-config" content="/assets/images/browserconfig.xml" />
<meta name="theme-color" content="#111111" />
<script
  data-goatcounter="https://html2rss.goatcounter.com/count"
  async
  src="//gc.zgo.at/count.js"
></script>
<div class="svg-defs-hidden">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" id="rss-icon">
    <rect
      width="512"
      height="512"
      x="-512"
      y="-512"
      rx="70"
      ry="70"
      style="fill: #ea7819; fill-opacity: 1; stroke: none"
      transform="scale(-1)"
    />
    <path
      d="M81.056 267.05c43.705 0 84.79 17.072 115.665 48.124 30.931 31.051 47.961 72.411 47.961 116.44h67.35c0-127.885-103.62-231.921-230.976-231.921zm.106-119.4c155.76 0 282.488 127.42 282.488 284.049H431C431 237.925 274.054 80.301 81.162 80.301zm93.135 236.998c0 25.757-20.892 46.649-46.649 46.649-25.756 0-46.648-20.885-46.648-46.649C81 358.878 101.885 338 127.641 338c25.757 0 46.656 20.878 46.656 20.878"
      style="fill: #fff"
    />
  </svg>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="edit-icon">
    <path
      fill="currentColor"
      d="M3 17.25V21h3.75L18.75 9.75l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"
    />
  </svg>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 32 32"
    id="settings-icon"
  >
    <path
      fill="currentColor"
      d="M28 13V8a2 2 0 0 0-2-2h-3v2h3v5a3.98 3.98 0 0 0 1.382 3A3.98 3.98 0 0 0 26 19v5h-3v2h3a2 2 0 0 0 2-2v-5a2 2 0 0 1 2-2v-2a2 2 0 0 1-2-2"
    />
    <path
      fill="currentColor"
      d="m17 9-.857 3h2L19 9h2l-.857 3H22v2h-2.428l-1.143 4H21v2h-3.143L17 23h-2l.857-3h-2L13 23h-2l.857-3H10v-2h2.429l1.143-4H11v-2h3.143L15 9Zm.572 5h-2l-1.143 4h2Z"
      style="fill-rule: evenodd"
    />
    <path
      fill="currentColor"
      d="M6 13V8h3V6H6a2 2 0 0 0-2 2v5a2 2 0 0 1-2 2v2a2 2 0 0 1 2 2v5a2 2 0 0 0 2 2h3v-2H6v-5a3.98 3.98 0 0 0-1.382-3A3.98 3.98 0 0 0 6 13"
    />
    <path d="M0 0h32v32H0z" style="fill: none" />
  </svg>
</div>
